.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    color:red;
}

.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    color: red;
} 

