
@{
    ViewBag.Title = "Generador de invitaciones";
}

<h2>@ViewBag.saludoInicial</h2>
<div class="jumbotron">
    <br />
    <p>Reunion Gerencial</p>
    <p>Analisis de proyectos integrales, revision metricas semanal y presupuestos</p>
    
    @Html.ActionLink("ENVIAR INVITACION", "RsvpForm")
</div>
